global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    option tcpka
    timeout connect 3s
    timeout client 1m
    timeout server 1m

frontend postgres_frontend
    bind 0.0.0.0:6432
    mode tcp
    default_backend postgres_cluster

backend postgres_cluster
    mode tcp
    balance roundrobin
    option tcp-check

    server nodo1_mario 100.115.156.14:5432 check inter 2s fall 2 rise 2
    server nodo2_kenny 100.100.231.68:5432 check inter 2s fall 2 rise 2
    server nodo3_miguel 127.0.0.1:5432 check inter 2s fall 2 rise 2 backup

listen estadisticas
    bind 0.0.0.0:8404
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 2s
